<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.CM_Cinema_DBConnectionString"
            connectionString="Data Source=.;Initial Catalog=CM_Cinema_DB;User ID=sa;Password=sa;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.CM_Cinema_DBConnectionString1"
            connectionString="Data Source=SOKKIMTHANH;Initial Catalog=CM_Cinema_DB;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.CM_Cinema_DBConnectionString2"
            connectionString="Data Source=DESKTOP-SV40LIF;Initial Catalog=CM_Cinema_DB;Integrated Security=True;Encrypt=True;Trust Server Certificate=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.CM_Cinema_DBConnectionString3"
            connectionString="Data Source=DESKTOP-SV40LIF;Initial Catalog=CM_Cinema_DB;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>