<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.CM_Cinema_DBConnectionString"
            connectionString="Data Source=SOKKIMTHANH;Initial Catalog=CM_Cinema_DB;Integrated Security=True;Trust Server Certificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>