<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="CM_Cinema_DB" connectionString="Data Source=.\sqlexpress;Initial Catalog=CM_Cinema_DB;Integrated Security=True;Encrypt=False;trustservercertificate=True"
      providerName="System.Data.SqlClient" />
    <add name="sokkimthanh.CM_Cinema_DB.dbo" connectionString="xpoprovider=MSSqlServer;data source=SOKKIMTHANH;initial catalog=CM_Cinema_DB;integrated security=True;encrypt=True;trustservercertificate=True" />
    <add name="localhost_CM_Cinema_DB_Connection" connectionString="XpoProvider=MSSqlServer;data source=SOKKIMTHANH;integrated security=SSPI;initial catalog=CM_Cinema_DB" />
    <add name="localhost_CM_Cinema_DB_Connection 1" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=CM_Cinema_DB" />
  </connectionStrings>
</configuration>